nav img {
  height: 40px; }

nav i {
  color: white; }

.img-circle {
  border-radius: 50%; }

#colaside .img-circle {
  margin-top: -60px; }

.user-relations {
  border-left: 2px solid 	#696969; }

.bordered {
  border: 2px solid black; }
